<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact box</title>
</head>
<body>
    <h1>Contact Box</h1>
    <fieldset>
        <a href="{% url 'all-contacts' %}">All contacts</a>
        <a href="{% url 'new-person' %}">Add new person</a>
        <a href="{% url 'create-address' %}">Add new address</a>
        <a href="{% url 'new-group' %}">Add new group</a>
        <a href="{% url 'new-phone' %}">Add new phone</a>
        <a href="{% url 'new-email' %}">Add new email</a>
    </fieldset>
    {% block content %}
    {% endblock content %}
</body>
</html>