{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact box</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'app_contactbox/js/add-phone-email-form.js' %}"></script>
</head>
<body>
    <h1>Contact Box</h1>
    <fieldset>
        <a href="{% url 'all-contacts' %}">All contacts</a>
        <a href="{% url 'create-contact' %}">Add new contact</a>
        <a href="{% url 'create-address' %}">Add new address</a>
        <a href="{% url 'create-group' %}">Add new group</a>
        <a href="{% url 'create-phone' %}">Add new phone</a>
        <a href="{% url 'create-email' %}">Add new email</a>
    </fieldset>
    {% block content %}
    {% endblock content %}
</body>
</html>