{% extends 'app_contactbox/base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <h3>Adding new contact:</h3>

    <form action="" method="post">

        {% csrf_token %}
        {{ person_form.as_p }}

        <div class="group-form" hidden>
            {{ phone_form.group_name.errors }}
            {{ group_form.group_name.label_tag }} {{ group_form.group_name }}
            <button class="remove-button" type="button">Remove group</button>
            <p></p>
        </div>
        <button id="add-group-button" type="button">Add next group</button><br>

        <p>Phones:</p>
        <div class="phone-form">
            <div class="fieldWrapper">
                {{ phone_form.number.errors }}
                {{ phone_form.number.label_tag }} {{ phone_form.number }}
            </div>
            <div class="fieldWrapper">
                {{ phone_form.phone_type.errors }}
                {{ phone_form.phone_type.label_tag }} {{ phone_form.phone_type }}
            </div>
            <button class="remove-button" type="button">Remove phone</button>
            <p></p>
        </div>
        <button id="add-phone-button" type="button">Add next phone</button><br>

        <p>Emails:</p>
        <div class="email-form">
            <div class="fieldWrapper">
                {{ email_form.email.errors }}
                {{ email_form.email.label_tag }} {{ email_form.email }}
            </div>
            <div class="fieldWrapper">
                {{ email_form.email_type.errors }}
                {{ email_form.email_type.label_tag }} {{ email_form.email_type }}
            </div>
            <button class="remove-button" type="button">Remove email</button>
            <p></p>
        </div>
        <button id="add-email-button" type="button">Add next email</button><br>

        <p><button type="submit">Add contact</button></p>
    </form>

{% endblock content %}
