{% extends 'app_contactbox/base.html' %}

{% block content %}

    <h3>Adding new phone number:</h3>

    <form action="{% url 'new-phone' %}" method="POST">
        {% csrf_token %}
        {{ phone_form.as_p }}
        <button name="submit" type="submit" value="submit">Add</button>
    </form>

    <p>
        {% if info == 'Success' %}
            Phone number has been successfully added to database.
        {% elif info == 'IntegrityError' %}
            Phone number you were trying to add already exists in database.
        {% elif info == 'InvalidInput' %}
            Phone number cannot be whitespaces.
        {% endif %}
    </p>

{% endblock content %}
