{% extends 'app_contactbox/base.html' %}

{% block content %}

    <h3>Adding new address:</h3>

    <form action="{% url 'new-address' %}" method="post">
        {% csrf_token %}
        {{ address_form.as_p }}
        <button name="submit" type="submit" value="submit">Add</button>
    </form>

    <p>
        {% if info == 'Success'  %}
            Address has been successfully added to database.
        {% elif info == 'IntegrityError' %}
            Address you were trying to add already exists in database.
        {% elif info == 'InvalidInput' %}
            None of the inputs can be whitespaces.
        {% endif %}
    </p>

{% endblock content %}
