{% extends 'app_contactbox/base.html' %}

{% block content %}

    <h3>Adding new group:</h3>

    <form action="{% url 'new-group' %}" method="POST">
        {% csrf_token %}
        {{ group_form.as_p }}
        <button name="submit" type="submit" value="submit">Add</button>
    </form>

    <p>
        {% if info == 'Success' %}
            Group has been successfully added to database.
        {% elif info == 'IntegrityError' %}
            Group of name you were trying to add already exists in database.
        {% elif info == 'InvalidInput' %}
            Group name cannot be whitespaces.
        {% endif %}
    </p>

{% endblock content %}
