{% extends 'app_contactbox/base.html' %}

{% block content %}

    <h3>Adding new person:</h3>

    <form action="{% url 'new-person' %}" method="post">
        {% csrf_token %}
        {{ person_form.as_p }}
        <button name="submit" type="submit" value="submit">Add</button>
    </form>

    <p>
    {% if info == 'Success' %}
        Person has been successfully added to database.
    {% elif info == 'InvalidInput' %}
        None of the inputs can be whitespaces.
    {% endif %}
    </p>

{% endblock content %}
