{% extends 'app_contactbox/base.html' %}

{% block content %}

    <h3>Adding new email:</h3>

    <form action="{% url 'new-email' %}" method="POST">
        {% csrf_token %}
        {{ email_form.as_p }}
        <button name="submit" type="submit" value="submit">Add</button>
    </form>

    <p>
        {% if info == 'Success' %}
            Email has been successfully added to database.
        {% elif info == 'IntegrityError' %}
            Email you were trying to add already exists in database.
        {% elif info == 'InvalidInput' %}
            Email cannot be whitespaces.
        {% endif %}
    </p>

{% endblock content %}
